body {
  background-color: #1f2937;
  font-family: karla;
  margin: 10%;
  max-width: 600px;
}

#text-1 {
  color: white;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}

#text-2 {
  color: #4adf86;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  margin-bottom: 10px;
}

#text-3 {
  color: white;
  font-size: 20px;
  margin: 0 0 40px 0;
}

#pass-btn {
  color: white;
  background-color: #10b981;
  border: none;
  font-size: 20px;
  padding: 12px 20px;
  text-shadow: 0 0 3px black;
  border-radius: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

#result {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.password {
  background-color: #273549;
  color: #55f991;
  margin: 20px 0px;
  width: 240px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 30px;
  cursor: pointer;
}

#comment {
  margin: 10px 0;
  font-weight: bold;
  color: #7dd3fc;
  font-size: 20px;
}
